<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->
<h1>Stupid Coaching</h1>
<form action="/answer">
  <input type="text" name="user_input">
  <input type="submit" value="Ask!">
</form>

